
										<form  id="addeditroleform"  action="#">
												  	<div class="form-group">
														    <label for="role">Role:</label>
														    <input type="text" class="form-control" id="role" placeholder="Enter Role" name="role" #if($!roleId > 0) value="$!role.role"  #end required minlength="3" />
												    </div>
												    #foreach($s in $!modulesList) 
														    <div class="form-group">
																<label for="menuaccess$!velocityCount">$!s.moduleName:</label>
																	<select class="form-control selectpicker" multiple  id="menuaccess$!velocityCount" data-moduleid="$!s.id" title="--Select--" data-live-search="true">
																		 				#foreach($k in $!menusList)
																				  				#if($!k.moduleId == $!s.id)
																				  							<option  value="$!k.id"  #if($!roleId > 0 && $!roleBasedMenuIdsList.contains($!k.id))selected="selected" #end > $!k.menuName </option>
																				  				#end 		
																			  		    #end			
																	</select>
														    </div>
												    #end
													<button type="submit" class="btn btn-default">Submit</button>
										  </form>

										  
<script type="text/javascript">
				
				$(document).ready(function() {
								$('.selectpicker').selectpicker();
				});
				
				var listSize = "$!modulesList.size()" ;

				$("#addeditroleform").submit(function(event) {
									event.preventDefault();
				  					var role = $("#role").val();
				  					var moduleMenuMapping = "";
				  					for(var i = 1; i <= Number(listSize); i++) {
				  										var moduleId = $("#menuaccess"+i).attr("data-moduleid");
				  										var menuIds = $("#menuaccess"+i).val() == null ?  "" : $("#menuaccess"+i).val(); 
				  										console.log("moduleid -- "+moduleId);
				  										console.log("menuids -- "+menuIds);
				  										moduleMenuMapping = moduleMenuMapping + moduleId + "=" + menuIds +"-";
				  					}
				  					if(moduleMenuMapping.length > 0) {
				  						moduleMenuMapping = moduleMenuMapping.substring(0,moduleMenuMapping.length - 1);
				  					}
				  					console.log(moduleMenuMapping);
				  					//return false;
				  					$.ajax({
				  								type : 'POST',
				  								url : contextUrl+'modules/ums/insertUpdateRoleAccess',
				  								data : { "id" : "$!roleId" , "role" : role, "moduleMenuMapping" : moduleMenuMapping },
				  								success : function(data) {
				  											if(data > 0) {
				  													$("#addeditrolemodal").modal("hide");
				  													alert('Role Mapping Saved/Updated Successfully...');
				  											} else {
				  													alert('Unable to process your request....');
				  											}
				  								},
				  								error : function(jqXHR, status, error) {
				  									$("#addeditrolemodal").modal("hide");
				  									if(jqXHR.status == 403) {
				  										setTimeout(function() {
															window.location.href=contextUrl;		
				  										},1000);
														alert('Your session has expired. Please login again...');
													} else {
														alert('Unable to process your request.Please try again...');
													}
													console.log(error);
													console.log(status);
				  								}
				  					});
				});

</script>