



										<form  id="modulemappingform"  action="#">
													<input type="hidden" id="userid" name="userId" value="$!user.id" />
												  	<div class="form-group">
														       <label for="firstname">First Name:</label>
														       <input type="text" class="form-control" id="firstname"   value="$!user.firstName" disabled   />
												    </div>
												    <div class="form-group">
												    			<label for="firstname">Last Name:</label>
												    			<input type="text" class="form-control" id="lastname"   value="$!user.LastName"  disabled />
												    </div>
										    		<div class="form-group">
										    					<label for="emailid"> Email Id:</label>
										    					<input type="text" class="form-control" id="emailid" value="$!user.emailId"   disabled />
										    		</div>
												    
													 <div class="form-group">
															<label for="moduleaccess"> Modules:</label>
																<select class="form-control selectpicker" multiple id="moduleaccess" data-live-search="true" title="--Select--">
																								#foreach($s in $!modulesList) 
																			  							<option  value="$!s.id" #if($!userMappedModulesList.contains($!s.id)) selected="selected" #end > $!s.moduleName </option>
																			  					#end
																</select>
													 </div>
												    
													<button type="submit" class="btn btn-default">Submit</button>
										  </form>

										  
<script type="text/javascript">
				
				$(document).ready(function() {
								$('.selectpicker').selectpicker();
				});
				
				

				$("#modulemappingform").submit(function(event) {
									event.preventDefault();
				  					var userId = $("#userid").val();
				  					var moduleMapping = $("#moduleaccess").val() == null ? "" : $("#moduleaccess").val();
				  					
				  					
				  					
				  					$.ajax({
				  								type : 'POST',
				  								url : contextUrl+'modules/ums/insertUpdateModuleMapping',
				  								data : { "userId" : userId,  "moduleMapping" : moduleMapping  },
				  								success : function(data) {
				  											if(data > 0) {
				  													$("#mymodal").modal("hide");
				  													alert('Module Mapping Saved/Updated Successfully...');
				  											} else {
				  													alert('Unable to process your request....');
				  											}
				  								},
				  								error : function(jqXHR, status, error) {
				  									$("#mymodal").modal("hide");
				  									if(jqXHR.status == 403) {
				  										setTimeout(function() {
															window.location.href=contextUrl;		
				  										},1000);
														alert('Your session has expired. Please login again...');
													} else {
														alert('Unable to process your request.Please try again...');
													}
													console.log(error);
													console.log(status);
				  								}
				  					});
				});

</script>