



										<form  id="modulemappingform"  action="#">
													<input type="hidden" id="userid" name="userId" value="$!user.id" />
												  	<div class="form-group">
														       <label for="firstname">First Name:</label>
														       <input type="text" class="form-control" id="firstname"   value="$!user.firstName" disabled   />
												    </div>
												    <div class="form-group">
												    			<label for="firstname">Last Name:</label>
												    			<input type="text" class="form-control" id="lastname"   value="$!user.LastName"  disabled />
												    </div>
										    		<div class="form-group">
										    					<label for="emailid"> Email Id:</label>
										    					<input type="text" class="form-control" id="emailid" value="$!user.emailId"   disabled />
										    		</div>
												    
													 <div class="form-group"  id="modules"  >
															<label for="moduleaccess"> Modules:</label>
															  
																#foreach($s in $!modulesList)
																	<div class="checkbox">
																						<label>  <input type="checkbox" value="$!s.id" onchange="moduleChange(this)"  #if($!userMappedModuleIdsList.contains($!s.id)) checked  #end /> $!s.moduleName </label>
																					
																						<div style="#if(! $!userMappedModuleIdsList.contains($!s.id)) display:none; #end overflow:hidden;overflow-x:scroll" id="roleform$!s.id"    >
																										   #set($moduleMappedRolesIdsList  = $!moduleMappedRoleIdsMap.get($!s.id))	
																										   #foreach($k in $!rolesList) 
																										   		<div class="col-sm-3">
																															<label class="radio-inline" >
																																		#if($!moduleMappedRolesIdsList.size() > 0)
																																				<input type="radio" name="optradio$!s.id" value="$!k.id"     #if($!moduleMappedRolesIdsList.contains($!k.id)) checked #end    /> $!k.role
																																		#else 	
																																				<input type="radio" name="optradio$!s.id" value="$!k.id"     #if($!velocityCount == 1) checked #end    /> $!k.role
																																		#end		
																														    </label>
																												</div>
																										   #end	
																								  
																						</div>				
																				      
																	</div>	
																#end	
													</div>
												    
													<button type="submit" class="btn btn-success">Save</button>
													<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel</button>
										  </form>

										  
<script type="text/javascript">
				
				$(document).ready(function() {
								$('.selectpicker').selectpicker();
				});
				
				function moduleChange(element) {
							var moduleId = $(element).val();
							if($(element).is(':checked')) {
								$("#roleform"+moduleId).css("display","block");
							} else {
								$("#roleform"+moduleId).css("display","none");
							}
				}
				

				$("#modulemappingform").submit(function(event) {
									event.preventDefault();
				  					var userId = $("#userid").val();
				  					console.log(userId);
				  					var moduleToRoleMapping = "";
				  					$("#modules").find('input:checkbox').each(function(index,element) {
				  						console.log(index + "-------" + element);
				  						if($(element).is(":checked")) {
				  								var moduleId = $(element).val();
				  								console.log(moduleId);
				  								var roleId = $(element).closest('div').find('input:radio').each(function(i,e) {
				  											if($(e).is(':checked')) {	
				  															
				  															var roleId = $(e).val();
				  															console.log("-----------"+roleId);
				  															moduleToRoleMapping = moduleToRoleMapping + moduleId + "=" + roleId + ",";
				  											}
				  								});
				  								
				  						}
				  							
				  					});
				  					if(moduleToRoleMapping.length > 0) {
				  						moduleToRoleMapping = moduleToRoleMapping.substring(0,moduleToRoleMapping.length - 1);
				  					}
				  					console.log(moduleToRoleMapping);
				  					if(moduleToRoleMapping == "") {
				  						alert('Please select at least one module...');	
				  						return false;
				  					}
				  					$.ajax({
				  								type : 'POST',
				  								url : contextUrl+'modules/ums/insertUpdateModuleRoleMapping',
				  								data : { "id" : userId,  "moduleToRoleMapping" : moduleToRoleMapping  },
				  								success : function(data) {
				  											if(data > 0) {
				  													$("#mymodal").modal("hide");
				  													alert('Module To Role Mapping Saved/Updated Successfully...');
				  											} else {
				  													alert('Unable to process your request....');
				  											}
				  								},
				  								error : function(jqXHR, status, error) {
				  									$("#mymodal").modal("hide");
				  									if(jqXHR.status == 403) {
				  										setTimeout(function() {
															window.location.href=contextUrl;		
				  										},1000);
														alert('Your session has expired. Please login again...');
													} else {
														alert('Unable to process your request.Please try again...');
													}
													console.log(error);
													console.log(status);
				  								}
				  					});
				});

</script>