<table>
				<thead>
							<th> First Name  </th>
							<th> Last Name </th>
							<th> Email Id </th>
							<th> Modules </th>
							<th> Actions </th>
				</thead>
		
				<tbody>
				    #foreach($s in $!usersList)
						<tr>
							  <td> $!s.firstName </td>
							  <td> $!s.lastName </td>
							  <td> $!s.emailId </td>
							  <td> $!s.userType </td>
							  <td> <i class="glyphicon glyphicon-edit"  onclick="editUserModuleMapping($!s.userId)" > </i>  </td>
						</tr>	
					#end	
				</tbody>


</table>


<script type="text/javascript">

			function editUserModuleMapping(userId) {
				    $("#mymodal").modal("show");		
					$.ajax({
						    type : 'POST',
							url : contextUrl+'modules/ums/editUserModuleMapping',
							data : formData,
							success : function(data) {
										if(data == -1) {
											alert('unable to process your request...');
										} else {
											$("#modalbody").html(data);
										}
							},
							error : function(jqXHR, status, error) {
								$("#mymodal").modal("hide");
								if(jqXHR.status == 403) {
										alert('Your session has expired. Please login again...');
										sessionTimeout(function() {
												window.location.href=contextUrl;		
										},1000);
								} else {
										alert('Unable to process your request.Please try again...');
								}
					  });
			}

</script>