

<section class="content-header">
		<ol class="breadcrumb" >
				<li > <a style="cursor:pointer"> <i class="fa fa-dashboard"> </i> UMS </a></li>
				<li class="active" ><a style="cursor:pointer"><i class="fa fa-dashboard"></i> Manage User Module Mapping </a></li>
		</ol>
</section>

<section class="content" >
			  <div class="row" >
					  		<div class="col-md-12 col-sm-12 col-xs-12">
											<br/><br/>
											<table  class="table table-bordered" id="usermodulegrid">
															<thead>
																		<th> User Code  </th>
																		<th> First Name  </th>
																		<th> Last Name </th>
																		<th> Email Id </th>
																		<th> Modules </th>
																		<th> Actions </th>
															</thead>
													
															<tbody>
															    #foreach($s in $!usersList)
															    	#if($!s.userType != 1)
																			<tr>
																	    
																	    		  <td> $!s.userCode </td>
																				  <td> $!s.firstName </td>
																				  <td> $!s.lastName </td>
																				  <td> $!s.emailId </td>
																				  <td> $!userMappendModules.get($!s.id) </td>
																				  <td> <i class="glyphicon glyphicon-edit" title="Edit Module Mapping"  onclick="editUserModuleMapping($!s.id)" > </i>  </td>
																			</tr>	
																	#end
																#end	
															</tbody>
											
											
											</table>


<script type="text/javascript">
			$(document).ready(function() {
				 paginateTable({elementId : "usermodulegrid" , ordering : false });
				
			});
			function editUserModuleMapping(userId) {
					$("#modalbody").html('<p> Processing... </p>');	
				    $("#mymodal").modal("show");		
					$.ajax({
						    type : 'POST',
							url : contextUrl+'modules/ums/editUserModuleMapping',
							data : { "userId" : userId },
							success : function(data) {
										if(data == -1) {
											alert('unable to process your request...');
										} else {
											$("#mymodal .modal-header").html("<p> <b> User Module Mapping </b> </p>");
											$("#modalbody").html(data);
										}
							},
							error : function(jqXHR, status, error) {
								$("#mymodal").modal("hide");
								if(jqXHR.status == 403) {
										alert('Your session has expired. Please login again...');
										setTimeout(function() {
												window.location.href=contextUrl;		
										},1000);
								} else {
										alert('Unable to process your request.Please try again...');
								}
							}	
					  });
			}

</script>