#set($user = $session.getAttribute("user"))

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> $!pagetitle  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    #parse("/WEB-INF/views/velocity/contextdata.vm")
    
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
					.pic
					{
					     margin-top:50px; 
					     width:120px;
					     margin-left:50px;
					     margin-bottom:-60px;
					}
					
					.panel
					{
					    background-image:url("http://autoimagesize.com/wp-content/uploads/2014/01/rainbow-aurora-background-wallpaper-colour-images-rainbow-background.jpg"); 
					}
					
					.name
					{
					    position:absolute;
					    padding-left:200px;
					    font-size:30px;
					}
					
					.dropdown
					{
					    position:absolute;
					}
					
					.change
					{
					 position:relative; 
					 bottom:20px;
					 padding:1px;
					 color:white;
					 text-decoration:none;
					}
					
					
					.change:hover
					{
					 text-decoration:none;
					 background-color:black;
					 color:white;
					}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<nav class="navbar navbar-inverse container" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >fi-lite</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi $!user.firstName <b class="caret"></b></a>
          
          <ul class="dropdown-menu">
            <li align="center" class="well">
               <!-- <div><img class="img-responsive" style="padding:2%;" src="http://placehold.it/120x120"/><a class="change" href="">Change Picture</a></div>  -->
                <a href="modules" class="btn btn-sm btn-default"> Modules </a>
                <a href="logout" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
           </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div id="mymodal" class="modal fade" role="dialog">
			<div class="modal-dialog">
			  <div class="modal-content">
			    <div class="modal-body"  id="modalbody">
			      <p>  Processing... </p>
			    </div>
			    <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			  </div>
			
			</div>
</div>
