<html>

<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<meta http-equiv="Content-Language" content="en" />
			<meta name="msapplication-TileColor" content="#2d89ef">
			<link href="/assets/css/dashboard.css" rel="stylesheet" />
			<script type="text/javascript" src="/assets/js/vendors/jquery-3.2.1.min.js"  >  </script>
			<link rel="stylesheet" type="text/css" href="/assets/plugins/DataTables/datatables.min.css"/>
			<script type="text/javascript" src="/assets/plugins/DataTables/datatables.min.js"></script>
			<style>
					.tableclass {
						box-sizing:border-box;text-align:center;margin-top:10px;margin-bottom:10px;margin-left:0px;text-align:left;
						
					}
					.alignleft {
								text-align: left;
					}
					
					.alignright {
						text-align:right;
					}
					
					.aligncenter {
						text-align:center;
					}
					
					.alignleftth th {
						padding-left : 5px;
					}
					
					
					
					.alignrighttd td {
						text-align : right;
						padding-right : 5px;
					}
					
			
			</style>
		    
			
</head>
		<body>
		
					<table id="example"  class="display cell-border currentable"  style="text-align:left;" width="99%">
					
							<thead>
									<tr>
												<td> <b>Parameter </b>  </td> 
												<td> <b>Central Park </b> </td> 
												<td> <b>Sohna Road</b> </td> 
									</tr>
							</thead>
							<tbody>
							
							    <tr>
											<td> </td> 
											<td class="aligncenter"> $!record.timestamp </td> 
											<td class="aligncenter"> $!secondSensorRecord.timestamp  </td> 
								</tr>
								<tr>
											<td> PM2.5 (<span>&micro;g/m<sup>3</sup></span>)</td> 
											<td class="alignright">$!record.pm2 </td> 
											<td class="alignright"> $!secondSensorRecord.pm2 </td> 
								</tr>
								<tr>
											<td> PM10 (<span>&micro;g/m<sup>3</sup></span>) </td> 
											<td class="alignright"> $!record.pm10 </td> 
											<td class="alignright"> $!secondSensorRecord.pm10 </td> 
								</tr>
								<tr>
											<td> Temp. (&deg;C)</td> 
											<td class="alignright">$!record.temp   </td> 
											<td class="alignright"> $!secondSensorRecord.temp   </td> 
								</tr>
								<tr>
											<td> Humidity (%)</td> 
											<td class="alignright"> $!record.hum </td> 
											<td class="alignright"> $!secondSensorRecord.hum  </td> 
								</tr>
								<tr>
											<td> CO (<span>mg/m<sup>3</sup></span>)</td> 
											<td class="alignright">$!record.co  </td> 
											<td class="alignright"> $!secondSensorRecord.co  </td> 
								</tr>
								<tr>
											<td> SO2 (<span>&micro;g/m<sup>3</sup></span>) </td> 
											<td class="alignright"> $!record.so2 </td> 
											<td class="alignright"> $!secondSensorRecord.so2 </td> 
								</tr>
								<tr>
											<td> NO2 (<span>&micro;g/m<sup>3</sup></span>) </td> 
											<td class="alignright"> $!record.no2  </td> 
											<td class="alignright"> $!secondSensorRecord.no2 </td> 
								</tr>
							</tbody>	
					
					</table>
		
					
					
				<!--	
					<table border="1" width="100%"     bgcolor="#FFFFFF" bordercolor="#CDCDCD" class="currenttable">
                    <tr>
                    		<td colspan="10" height="55"> <strong><span> PM2.5 Data Sensor 1 (<span>&micro;g/m<sup>3</sup></span>)</strong> </td>
                    </tr>
                    <tr>
			                    	#foreach($!s in $!firstSensorRecords)
					                   <td ><strong><span> $!s.timestamp.split(" ")[1]  </span> </strong></td>
					                #end   
		                    
                    </tr>
                    <tr>
		                    
		                    		#foreach($!s in $!firstSensorRecords)
		                    			<td > $!s.pm2   </td>
		                    		#end 
		                    
		                    
		            </tr>
                    
                    </table>
                	-->
                	
                
                	
                    <table border="1" width="100%"     bgcolor="#FFFFFF" bordercolor="#CDCDCD" class="currenttable tableclass alignleftth">
                    
            		<thead>
            				<tr>
            					<th colspan="4" height="55">PM2.5 Data Trend (&micro;g/m<sup>3</sup>)</th>
            					
            				</tr>
            				<tr>
            					<th colspan="2" height="55">Central Park</th>
            					<th colspan="2" height="55">Sohna Road</th>
            				</tr>
            				<tr>
            					<th  height="55">Timestamp</th>
            					<th  height="55">Value</th>
            					<th  height="55">Timestamp</th>
            					<th  height="55">Value</th>
            				</tr>
                    </thead>
                    <tbody>
        		                   
        				                    	#foreach($!s in  $!firstSensorRecords)
        				                    	 <tr class="alignrighttd">
        						                    <td  ><strong><span> $!s.timestamp.split(" ")[1]  </span> </strong></td>
        						                    <td ><strong><span> $!s.pm2  </span> </strong></td>
        						                    #set($index = $!velocityCount - 1)
        						                    <td  ><strong><span> #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].timestamp.split(" ")[1] #end </span> </strong></td>
        						                    <td ><strong><span> #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].pm2 #end</span> </strong></td>
        						                  </tr>
        						                #end   
        			                
        		                   
                   </tbody>
            </table>
            
            
            <table border="1" width="100%"     bgcolor="#FFFFFF" bordercolor="#CDCDCD" class="currenttable tableclass alignleftth">
            
    		<thead>
    				<tr>
    					<th colspan="4" height="55">PM10 Data Trend (&micro;g/m<sup>3</sup>)</th>
    					
    				</tr>
    				<tr>
    					<th colspan="2" height="55">Central Park</th>
    					<th colspan="2" height="55">Sohna Road</th>
    				</tr>
    				<tr>
    					<th  height="55">Timestamp</th>
    					<th  height="55">Value</th>
    					<th  height="55">Timestamp</th>
    					<th  height="55">Value</th>
    				</tr>
            </thead>
            <tbody>
		                   
				                    	#foreach($!s in  $!firstSensorRecords)
				                    	 <tr class="alignrighttd">
						                    <td ><strong><span> $!s.timestamp.split(" ")[1]  </span> </strong></td>
						                    <td ><strong><span> $!s.pm10 </span> </strong></td>
						                    #set($index = $!velocityCount - 1)
						                    <td ><strong><span> #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].timestamp.split(" ")[1] #end  </span> </strong></td>
						                    <td ><strong><span> #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].pm10 #end </span> </strong></td>
						                  </tr>
						                #end   
			                
		                   
           </tbody>
    </table>
                          
                	
                    <table border="1" width="100%"     bgcolor="#FFFFFF" bordercolor="#CDCDCD" class="currenttable tableclass alignleftth" >
		                
                    		<thead>
                    				<tr>
			        					<th colspan="4" height="55">Temparature Data Trend (&deg;C)</th>
			        					
			        				</tr>
                    				<tr>
                    					<th colspan="2" height="55">Central Park</th>
                    					<th colspan="2" height="55">Sohna Road</th>
                    				</tr>
                    				<tr>
	                					<th  height="55">Timestamp</th>
	                					<th  height="55">Value</th>
	                					<th  height="55">Timestamp</th>
	                					<th  height="55">Value</th>
	                				</tr>
		                    </thead>
		                    <tbody>
						                   
								                    	#foreach($!s in  $!firstSensorRecords)
								                    	 <tr  class="alignrighttd">
										                    <td ><strong><span> $!s.timestamp.split(" ")[1]  </span> </strong></td>
										                    <td ><strong><span> $!s.temp  </span> </strong></td>
										                    #set($index = $!velocityCount - 1)
										                    <td ><strong><span>  #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].timestamp.split(" ")[1] #end  </span> </strong></td>
										                    <td ><strong><span>  #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].temp #end </span> </strong></td>
										                  </tr>
										                #end   
							                
						                   
		                   </tbody>
                    </table>
			
                    
                    <table border="1" width="100%"     bgcolor="#FFFFFF" bordercolor="#CDCDCD" class="currenttable tableclass alignleftth" >
	                
            		<thead>
            				<tr>
	        					<th colspan="4" height="55">Humidity Data Trend (%)</th>
	        					
	        				</tr>
            				<tr>
            					<th colspan="2" height="55">Central Park</th>
            					<th colspan="2" height="55">Sohna Road</th>
            				</tr>
            				<tr>
            					<th  height="55">Timestamp</th>
            					<th  height="55">Value</th>
            					<th  height="55">Timestamp</th>
            					<th  height="55">Value</th>
            				</tr>
                    </thead>
                    <tbody>
				                   
						                    	#foreach($!s in  $!firstSensorRecords)
						                    	 <tr class="alignrighttd">
								                    <td ><strong><span> $!s.timestamp.split(" ")[1]  </span> </strong></td>
								                    <td ><strong><span> $!s.hum </span> </strong></td>
								                    #set($index = $!velocityCount - 1)
								                    <td ><strong><span> #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].timestamp.split(" ")[1] #end </span> </strong></td>
								                    <td ><strong><span> #if($!secondSensorRecords.size() >= $!velocityCount ) $!secondSensorRecords[$!index].hum #end</span> </strong></td>
								                  </tr>
								                #end   
					                
				                   
                   </tbody>
            </table>
            
        
  
                    
			<!--		
				<table width=100%> 
				  <tr> 
				    <td valign="top">
				        <table>
				            <thead> 
				            		<tr> <th>Central Park</th> </tr>	
				            		<tr><th>Timestamp</th> <th>value</th> </tr> 
				            </thead>
				            <tbody> 
						            <tr><td>data</td></tr>
						            <tr><td>data</td></tr>
						            <tr><td>data</td></tr>
						            <tr><td>data</td></tr>
						            <tr><td>data</td></tr>
						            <tr><td>data</td></tr>
						            <tr><td>data</td></tr>
				            </tbody>
				        </table>
				    </td>
				    <td valign="top">
				    <table>
		            <thead> 
		            		<tr> <th>Central Park</th> </tr>	
		            		<tr><th>Timestamp</th> <th>value</th> </tr> 
		            </thead>
		            <tbody> 
				            <tr><td>data</td></tr>
				            <tr><td>data</td></tr>
				            <tr><td>data</td></tr>
				            <tr><td>data</td></tr>
				            <tr><td>data</td></tr>
				            <tr><td>data</td></tr>
				            <tr><td>data</td></tr>
		            </tbody>
		        </table>
				    </td>
				  </tr>
				</table>
				
				-->
				
					<script type="text/javascript">
									$(document).ready(function() {
									    $('#example').DataTable({
									    	
									    	"bSort": false,
									    	"bLengthChange": false,
									    	"bFilter": false,
									        "bInfo": false,
									        "bPaginate": false
									    	
									    });
									    
									    
									    
									    
									    
									});
					
					</script>
					
					
		</body>


</html>